body {
  margin: 50px 30px;
}

ul {
  list-style: none;
}

.main {
    width: 30%;
  padding: 15px;
  min-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.row li {
  width: 50px;
}

.row li:nth-child(1) {
  width: 200px;
}
.row li:nth-child(3) {
  width: 150px;
}
input {
  width: 30px;
}
